body{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
h2{
	font-weight: 700;
	font-size: 24px;
	padding: 10px;
	text-align: center;
	font-family: Lato;
}
.stat{
	color: #fff;
	height: 230px;
}

.stat i{
	font-size: 48px;
	padding-top: 10px;
}

.stat h4{
	font-weight: 700;
	font-size: 20px;
	padding-top: 10px;
}

.codes{
	background: url(https://w3hubs.com/JqueryNumberScrollingWithBootstrap/img/stats1.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.projects{
	background: url(https://w3hubs.com/JqueryNumberScrollingWithBootstrap/img/stats2.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.clients{
	background: url(https://w3hubs.com/JqueryNumberScrollingWithBootstrap/img/stats3.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.feedback{
	background: url(https://w3hubs.com/JqueryNumberScrollingWithBootstrap/img/stats4.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}
